node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/fallback-build-manifest.json
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/profile/page.js
.next/server/app/profile/page_client-reference-manifest.js
.next/server/app/projects/page.js
.next/server/app/projects/page_client-reference-manifest.js
.next/server/app/skills/page.js
.next/server/app/skills/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/next.js
.next/server/webpack-runtime.js
.next/static/chunks/_error.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/profile/layout.js
.next/static/chunks/app/profile/page.js
.next/static/chunks/app/projects/layout.js
.next/static/chunks/app/projects/page.js
.next/static/chunks/app/skills/layout.js
.next/static/chunks/app/skills/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/main.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/css/css-styles_globals_css.css
.next/static/development/_buildManifest.js
.next/static/media/pasfoto.a4912b18.jpg
.next/static/webpack/0530da0c37641b83.webpack.hot-update.json
.next/static/webpack/0b95f057a28f87d0.webpack.hot-update.json
.next/static/webpack/0ff769fea643bf9c.webpack.hot-update.json
.next/static/webpack/16594e61c7f911d5.webpack.hot-update.json
.next/static/webpack/1700f4fb9009a340.webpack.hot-update.json
.next/static/webpack/23e1ec163d10f96b.webpack.hot-update.json
.next/static/webpack/252c4de4527d9fd6.webpack.hot-update.json
.next/static/webpack/274ad2128d01cac3.webpack.hot-update.json
.next/static/webpack/2b0b742b0524f639.webpack.hot-update.json
.next/static/webpack/2c05de0c9de6461d.webpack.hot-update.json
.next/static/webpack/2d3b8a9dc2d41644.webpack.hot-update.json
.next/static/webpack/2e1db7cdbbb89dda.webpack.hot-update.json
.next/static/webpack/2e2c3e3e11a84c91.webpack.hot-update.json
.next/static/webpack/2ed18e99699486e8.webpack.hot-update.json
.next/static/webpack/2f179dd71e67f10b.webpack.hot-update.json
.next/static/webpack/36b62a5c72af2da0.webpack.hot-update.json
.next/static/webpack/3d6f150778104b0a.webpack.hot-update.json
.next/static/webpack/3de5ee20f844b590.webpack.hot-update.json
.next/static/webpack/3e72313645a23283.webpack.hot-update.json
.next/static/webpack/3fc8ee5aa5449672.webpack.hot-update.json
.next/static/webpack/41b692dc49a03180.webpack.hot-update.json
.next/static/webpack/42827a7046545612.webpack.hot-update.json
.next/static/webpack/43ac2b5e08cf32b6.webpack.hot-update.json
.next/static/webpack/4527e04208449c22.webpack.hot-update.json
.next/static/webpack/45e5211e3b6c9b58.webpack.hot-update.json
.next/static/webpack/511b74abd86ce88e.webpack.hot-update.json
.next/static/webpack/520b5234cfde0ec9.webpack.hot-update.json
.next/static/webpack/55bdced02c9ce16b.webpack.hot-update.json
.next/static/webpack/56d564e391072515.webpack.hot-update.json
.next/static/webpack/638071629a82615a.webpack.hot-update.json
.next/static/webpack/641197ad79f73a12.webpack.hot-update.json
.next/static/webpack/7875d9d04c7d61c0.webpack.hot-update.json
.next/static/webpack/7942b5ae9e957826.webpack.hot-update.json
.next/static/webpack/7a5d7454bea4c120.webpack.hot-update.json
.next/static/webpack/7afc387b44d3570d.webpack.hot-update.json
.next/static/webpack/7dd5b1e6f93883a3.webpack.hot-update.json
.next/static/webpack/80b96acc0021177d.webpack.hot-update.json
.next/static/webpack/811d6794fb9198c6.webpack.hot-update.json
.next/static/webpack/845fee9ae3fa0416.webpack.hot-update.json
.next/static/webpack/884c741a433d28eb.webpack.hot-update.json
.next/static/webpack/8f78c4b8934b0b4e.webpack.hot-update.json
.next/static/webpack/8f7a7cecfd51ed48.webpack.hot-update.json
.next/static/webpack/8f8881ff4fa1bd34.webpack.hot-update.json
.next/static/webpack/9042bf37d7f85dca.webpack.hot-update.json
.next/static/webpack/9782da70e7bf75d7.webpack.hot-update.json
.next/static/webpack/97b8c9b4df9b4df9.webpack.hot-update.json
.next/static/webpack/97d23858982ff1d2.webpack.hot-update.json
.next/static/webpack/97e404f226afd961.webpack.hot-update.json
.next/static/webpack/99bef515c806b3f8.webpack.hot-update.json
.next/static/webpack/9c4338d1746170d6.webpack.hot-update.json
.next/static/webpack/aa4b934f07b6cc53.webpack.hot-update.json
.next/static/webpack/aef4ccb17c0dd893.webpack.hot-update.json
.next/static/webpack/app/layout.0b95f057a28f87d0.hot-update.js
.next/static/webpack/app/layout.0ff769fea643bf9c.hot-update.js
.next/static/webpack/app/layout.16594e61c7f911d5.hot-update.js
.next/static/webpack/app/layout.1700f4fb9009a340.hot-update.js
.next/static/webpack/app/layout.23e1ec163d10f96b.hot-update.js
.next/static/webpack/app/layout.252c4de4527d9fd6.hot-update.js
.next/static/webpack/app/layout.274ad2128d01cac3.hot-update.js
.next/static/webpack/app/layout.2b0b742b0524f639.hot-update.js
.next/static/webpack/app/layout.2c05de0c9de6461d.hot-update.js
.next/static/webpack/app/layout.2d3b8a9dc2d41644.hot-update.js
.next/static/webpack/app/layout.2e1db7cdbbb89dda.hot-update.js
.next/static/webpack/app/layout.2e2c3e3e11a84c91.hot-update.js
.next/static/webpack/app/layout.2ed18e99699486e8.hot-update.js
.next/static/webpack/app/layout.2f179dd71e67f10b.hot-update.js
.next/static/webpack/app/layout.36b62a5c72af2da0.hot-update.js
.next/static/webpack/app/layout.3d6f150778104b0a.hot-update.js
.next/static/webpack/app/layout.3de5ee20f844b590.hot-update.js
.next/static/webpack/app/layout.3e72313645a23283.hot-update.js
.next/static/webpack/app/layout.3fc8ee5aa5449672.hot-update.js
.next/static/webpack/app/layout.41b692dc49a03180.hot-update.js
.next/static/webpack/app/layout.42827a7046545612.hot-update.js
.next/static/webpack/app/layout.43ac2b5e08cf32b6.hot-update.js
.next/static/webpack/app/layout.4527e04208449c22.hot-update.js
.next/static/webpack/app/layout.45e5211e3b6c9b58.hot-update.js
.next/static/webpack/app/layout.511b74abd86ce88e.hot-update.js
.next/static/webpack/app/layout.520b5234cfde0ec9.hot-update.js
.next/static/webpack/app/layout.55bdced02c9ce16b.hot-update.js
.next/static/webpack/app/layout.56d564e391072515.hot-update.js
.next/static/webpack/app/layout.638071629a82615a.hot-update.js
.next/static/webpack/app/layout.641197ad79f73a12.hot-update.js
.next/static/webpack/app/layout.7942b5ae9e957826.hot-update.js
.next/static/webpack/app/layout.7a5d7454bea4c120.hot-update.js
.next/static/webpack/app/layout.7afc387b44d3570d.hot-update.js
.next/static/webpack/app/layout.7dd5b1e6f93883a3.hot-update.js
.next/static/webpack/app/layout.80b96acc0021177d.hot-update.js
.next/static/webpack/app/layout.811d6794fb9198c6.hot-update.js
.next/static/webpack/app/layout.845fee9ae3fa0416.hot-update.js
.next/static/webpack/app/layout.884c741a433d28eb.hot-update.js
.next/static/webpack/app/layout.8f78c4b8934b0b4e.hot-update.js
.next/static/webpack/app/layout.8f7a7cecfd51ed48.hot-update.js
.next/static/webpack/app/layout.8f8881ff4fa1bd34.hot-update.js
.next/static/webpack/app/layout.9042bf37d7f85dca.hot-update.js
.next/static/webpack/app/layout.9782da70e7bf75d7.hot-update.js
.next/static/webpack/app/layout.97b8c9b4df9b4df9.hot-update.js
.next/static/webpack/app/layout.97d23858982ff1d2.hot-update.js
.next/static/webpack/app/layout.97e404f226afd961.hot-update.js
.next/static/webpack/app/layout.99bef515c806b3f8.hot-update.js
.next/static/webpack/app/layout.9c4338d1746170d6.hot-update.js
.next/static/webpack/app/layout.aa4b934f07b6cc53.hot-update.js
.next/static/webpack/app/layout.aef4ccb17c0dd893.hot-update.js
.next/static/webpack/app/layout.b4ed1231e673c33b.hot-update.js
.next/static/webpack/app/layout.b87acac2b1de8f6c.hot-update.js
.next/static/webpack/app/layout.bfdb5415911a2e54.hot-update.js
.next/static/webpack/app/layout.c25894d745cce02e.hot-update.js
.next/static/webpack/app/layout.c2787c0404558c3e.hot-update.js
.next/static/webpack/app/layout.c6c1ec6ca7e8aa7f.hot-update.js
.next/static/webpack/app/layout.caab3d70b83fb1f3.hot-update.js
.next/static/webpack/app/layout.cdfa480f9c7a6e41.hot-update.js
.next/static/webpack/app/layout.ce1c40b5bccf247e.hot-update.js
.next/static/webpack/app/layout.cff4bce81b460c53.hot-update.js
.next/static/webpack/app/layout.d286cacae40d1cf2.hot-update.js
.next/static/webpack/app/layout.d529acdc054312ff.hot-update.js
.next/static/webpack/app/layout.d5fe0e01a279d0be.hot-update.js
.next/static/webpack/app/layout.e215e51278acea20.hot-update.js
.next/static/webpack/app/layout.e2959fc8921f63fa.hot-update.js
.next/static/webpack/app/layout.e527d5e010922b75.hot-update.js
.next/static/webpack/app/layout.eb6df31f958f9c7e.hot-update.js
.next/static/webpack/app/layout.ed4e4d7540eb21d8.hot-update.js
.next/static/webpack/app/layout.ef99aecd9494b8b9.hot-update.js
.next/static/webpack/app/layout.f016584c9d27071c.hot-update.js
.next/static/webpack/app/layout.f1af6396c283b2ff.hot-update.js
.next/static/webpack/app/layout.f786d73bbaaf9d7d.hot-update.js
.next/static/webpack/app/layout.fb16517639ca4009.hot-update.js
.next/static/webpack/app/layout.fd67fcd5f6749a25.hot-update.js
.next/static/webpack/app/layout.fe1e03fd8107df7c.hot-update.js
.next/static/webpack/app/profile/page.9c4338d1746170d6.hot-update.js
.next/static/webpack/app/profile/page.baedaaaa6d822308.hot-update.js
.next/static/webpack/b4ed1231e673c33b.webpack.hot-update.json
.next/static/webpack/b87acac2b1de8f6c.webpack.hot-update.json
.next/static/webpack/baedaaaa6d822308.webpack.hot-update.json
.next/static/webpack/bfdb5415911a2e54.webpack.hot-update.json
.next/static/webpack/c25894d745cce02e.webpack.hot-update.json
.next/static/webpack/c2787c0404558c3e.webpack.hot-update.json
.next/static/webpack/c6c1ec6ca7e8aa7f.webpack.hot-update.json
.next/static/webpack/caab3d70b83fb1f3.webpack.hot-update.json
.next/static/webpack/cdfa480f9c7a6e41.webpack.hot-update.json
.next/static/webpack/ce1c40b5bccf247e.webpack.hot-update.json
.next/static/webpack/cff4bce81b460c53.webpack.hot-update.json
.next/static/webpack/d286cacae40d1cf2.webpack.hot-update.json
.next/static/webpack/d529acdc054312ff.webpack.hot-update.json
.next/static/webpack/d5fe0e01a279d0be.webpack.hot-update.json
.next/static/webpack/e215e51278acea20.webpack.hot-update.json
.next/static/webpack/e2959fc8921f63fa.webpack.hot-update.json
.next/static/webpack/e527d5e010922b75.webpack.hot-update.json
.next/static/webpack/eb6df31f958f9c7e.webpack.hot-update.json
.next/static/webpack/ed4e4d7540eb21d8.webpack.hot-update.json
.next/static/webpack/edf6287ef722598b.webpack.hot-update.json
.next/static/webpack/ef99aecd9494b8b9.webpack.hot-update.json
.next/static/webpack/f016584c9d27071c.webpack.hot-update.json
.next/static/webpack/f1af6396c283b2ff.webpack.hot-update.json
.next/static/webpack/f786d73bbaaf9d7d.webpack.hot-update.json
.next/static/webpack/fb16517639ca4009.webpack.hot-update.json
.next/static/webpack/fd67fcd5f6749a25.webpack.hot-update.json
.next/static/webpack/fe1e03fd8107df7c.webpack.hot-update.json
.next/static/webpack/webpack.0530da0c37641b83.hot-update.js
.next/static/webpack/webpack.0b95f057a28f87d0.hot-update.js
.next/static/webpack/webpack.0ff769fea643bf9c.hot-update.js
.next/static/webpack/webpack.16594e61c7f911d5.hot-update.js
.next/static/webpack/webpack.1700f4fb9009a340.hot-update.js
.next/static/webpack/webpack.23e1ec163d10f96b.hot-update.js
.next/static/webpack/webpack.252c4de4527d9fd6.hot-update.js
.next/static/webpack/webpack.274ad2128d01cac3.hot-update.js
.next/static/webpack/webpack.2b0b742b0524f639.hot-update.js
.next/static/webpack/webpack.2c05de0c9de6461d.hot-update.js
.next/static/webpack/webpack.2d3b8a9dc2d41644.hot-update.js
.next/static/webpack/webpack.2e1db7cdbbb89dda.hot-update.js
.next/static/webpack/webpack.2e2c3e3e11a84c91.hot-update.js
.next/static/webpack/webpack.2ed18e99699486e8.hot-update.js
.next/static/webpack/webpack.2f179dd71e67f10b.hot-update.js
.next/static/webpack/webpack.36b62a5c72af2da0.hot-update.js
.next/static/webpack/webpack.3d6f150778104b0a.hot-update.js
.next/static/webpack/webpack.3de5ee20f844b590.hot-update.js
.next/static/webpack/webpack.3e72313645a23283.hot-update.js
.next/static/webpack/webpack.3fc8ee5aa5449672.hot-update.js
.next/static/webpack/webpack.41b692dc49a03180.hot-update.js
.next/static/webpack/webpack.42827a7046545612.hot-update.js
.next/static/webpack/webpack.43ac2b5e08cf32b6.hot-update.js
.next/static/webpack/webpack.4527e04208449c22.hot-update.js
.next/static/webpack/webpack.45e5211e3b6c9b58.hot-update.js
.next/static/webpack/webpack.511b74abd86ce88e.hot-update.js
.next/static/webpack/webpack.520b5234cfde0ec9.hot-update.js
.next/static/webpack/webpack.55bdced02c9ce16b.hot-update.js
.next/static/webpack/webpack.56d564e391072515.hot-update.js
.next/static/webpack/webpack.638071629a82615a.hot-update.js
.next/static/webpack/webpack.641197ad79f73a12.hot-update.js
.next/static/webpack/webpack.7875d9d04c7d61c0.hot-update.js
.next/static/webpack/webpack.7942b5ae9e957826.hot-update.js
.next/static/webpack/webpack.7a5d7454bea4c120.hot-update.js
.next/static/webpack/webpack.7afc387b44d3570d.hot-update.js
.next/static/webpack/webpack.7dd5b1e6f93883a3.hot-update.js
.next/static/webpack/webpack.80b96acc0021177d.hot-update.js
.next/static/webpack/webpack.811d6794fb9198c6.hot-update.js
.next/static/webpack/webpack.845fee9ae3fa0416.hot-update.js
.next/static/webpack/webpack.884c741a433d28eb.hot-update.js
.next/static/webpack/webpack.8f78c4b8934b0b4e.hot-update.js
.next/static/webpack/webpack.8f7a7cecfd51ed48.hot-update.js
.next/static/webpack/webpack.8f8881ff4fa1bd34.hot-update.js
.next/static/webpack/webpack.9042bf37d7f85dca.hot-update.js
.next/static/webpack/webpack.9782da70e7bf75d7.hot-update.js
.next/static/webpack/webpack.97b8c9b4df9b4df9.hot-update.js
.next/static/webpack/webpack.97d23858982ff1d2.hot-update.js
.next/static/webpack/webpack.97e404f226afd961.hot-update.js
.next/static/webpack/webpack.99bef515c806b3f8.hot-update.js
.next/static/webpack/webpack.9c4338d1746170d6.hot-update.js
.next/static/webpack/webpack.aa4b934f07b6cc53.hot-update.js
.next/static/webpack/webpack.aef4ccb17c0dd893.hot-update.js
.next/static/webpack/webpack.b4ed1231e673c33b.hot-update.js
.next/static/webpack/webpack.b87acac2b1de8f6c.hot-update.js
.next/static/webpack/webpack.baedaaaa6d822308.hot-update.js
.next/static/webpack/webpack.bfdb5415911a2e54.hot-update.js
.next/static/webpack/webpack.c25894d745cce02e.hot-update.js
.next/static/webpack/webpack.c2787c0404558c3e.hot-update.js
.next/static/webpack/webpack.c6c1ec6ca7e8aa7f.hot-update.js
.next/static/webpack/webpack.caab3d70b83fb1f3.hot-update.js
.next/static/webpack/webpack.cdfa480f9c7a6e41.hot-update.js
.next/static/webpack/webpack.ce1c40b5bccf247e.hot-update.js
.next/static/webpack/webpack.cff4bce81b460c53.hot-update.js
.next/static/webpack/webpack.d286cacae40d1cf2.hot-update.js
.next/static/webpack/webpack.d529acdc054312ff.hot-update.js
.next/static/webpack/webpack.d5fe0e01a279d0be.hot-update.js
.next/static/webpack/webpack.e215e51278acea20.hot-update.js
.next/static/webpack/webpack.e2959fc8921f63fa.hot-update.js
.next/static/webpack/webpack.e527d5e010922b75.hot-update.js
.next/static/webpack/webpack.eb6df31f958f9c7e.hot-update.js
.next/static/webpack/webpack.ed4e4d7540eb21d8.hot-update.js
.next/static/webpack/webpack.edf6287ef722598b.hot-update.js
.next/static/webpack/webpack.ef99aecd9494b8b9.hot-update.js
.next/static/webpack/webpack.f016584c9d27071c.hot-update.js
.next/static/webpack/webpack.f1af6396c283b2ff.hot-update.js
.next/static/webpack/webpack.f786d73bbaaf9d7d.hot-update.js
.next/static/webpack/webpack.fb16517639ca4009.hot-update.js
.next/static/webpack/webpack.fd67fcd5f6749a25.hot-update.js
.next/static/webpack/webpack.fe1e03fd8107df7c.hot-update.js
.next/trace
.next/types/app/profile/layout.ts
.next/types/app/profile/page.ts
.next/types/app/projects/layout.ts
.next/types/app/projects/page.ts
.next/types/app/skills/layout.ts
.next/types/app/skills/page.ts
